
.cabecera {
  width: 100%;
  overflow:hidden;
}

.cabecera img {
  width: 100%;
  height: auto;
  display:block;
}

h1 {
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 50px;
  color: rgb(211, 84, 0);
}

nav {
  position: sticky;
  top: 0; /* Pegar la barra de navegación en la parte superior del contenedor padre (en este caso, el banner) */
  z-index: 1000; /* Asegura que la barra de navegación esté por encima de otros elementos */
  display: flex;
  flex-direction: row;
  background-color: grey;
  justify-content: center;
  gap: 10px;
}

nav a {
  font-family: "Copperplate", "Papyrus", fantasy;
  color: white;
  padding: 15px 20px;
  text-decoration: none;
}

.menu a:hover {
  background-color: darkgrey;
}

.cartas {
  display: flex;
  justify-content: center;
}

.carta {

  background-color: rgb(236, 201, 125);
  width: 270px;
  margin: 65px;
  border-radius: 15px;
}

.cartaimagen {
  height: 170px;
  margin-bottom: 10px;
  background-size: cover;
  border-radius: 15px 15px 0 0;

}

.card-1 {
  background-image: url(Img/carta1\ probable.jpg);
}

.card-2 {
  background-image: url(Img/cosas-donar-refugio-animales-portada-668x400x80xX-1.jpg);
}

.card-3 {
  background-image: url(Img/carta3.jpg);
}

.carta h2{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
}

.carta p {
  padding: 5px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: justify;
  padding: 10px;

}

.app {
  width: 300px;
  height: 200px;
}

.contenedor img{
  width: 900px;
  height: 500px;
}

.redes {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 20px 0;
  padding: 20px;
  background-color: rgb(1, 1, 1);
}

.redes a {
  /*color: inherit; /* Mantiene el color original de los iconos */
  color: orange;
  font-size: 25px; /* Ajusta el tamaño del icono según preferencia */
}

.creditos {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 20px 0;
  padding: 20px;
  background-color: black;
}

.creditos h4 {

  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: orange;
}


.sliderMaestro {
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
}

.sliderSecundario {
  display: flex;
  transition: transform 0.3s ease;
}

.contenedor {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

img {
  max-width: 100%;
  height: auto;
}

.atrasBotones img,
.siguienteBotones img {
  height: 50px;
  width: 50px;
  cursor: pointer;
}


.indicadores {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.indicadores .circulo {
  width: 10px;
  height: 10px;
  margin: 0 5px;
  background-color: rgb(144, 225, 254);
  border-radius: 50%;
  cursor: pointer;
}

.indicadores .activo {
  background-color: black;
}


.imagenHome {
  background-image: url(Img/imagenFondo.png);
  background-size: cover; /* Ajusta la imagen para que cubra toda el área */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-position: center center; /* Centra la imagen */
  margin: 0; /* Elimina márgenes para que la imagen cubra toda el área */
  font-family: "Copperplate", "Papyrus", fantasy;
}

